.App-header {
  background-color: #f3f6f9;
  /* min-height: 100vh; */

  color: black;
}

.ui.steps .step.active {
  background: #2fbe6d;
}

textarea {
  border: 1px solid #e6ecf4;
}

tbody, td, tfoot, thead, tr {
  border: 0px !important;
}

.css-1hb7zxy-IndicatorsContainer {
  background: #e9edf5;
  border-left: 1px solid #b6bfca;
}

.css-1u9des2-indicatorSeparator {
  width: 0px !important;
}

.ui.secondary.pointing.menu .item {
  margin: 0px !important;
}


.ui.steps .step.active .title {
  color: rgb(237, 232, 232);
}

.ui.steps .step {
  background: #fdf0d4;

}

.ui.secondary.pointing.menu .active.item {
  color: #fa7826 !important;
  border-color: #fa7826 !important;

}

.ui.card {
  width: 100% !important;
}

#select-option {
  color: #a9a9a9;
  font-weight: bold;
}

.secondary.menu {
  overflow: auto;
}



th {
  color: #a9a9a9 !important;
}

.ui.secondary.menu .active.item {
  background-color: #fdf0d4;
  border-bottom: 1px solid #eb9d6f;
  border-radius: 0px;
}